<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MySuite">
    <test name="Search">
        <classes>
            <class name="QAFox.Search"/>
        </classes>
    </test>

    <test name="Login">
        <classes>
            <class name="QAFox.Login"/>
        </classes>
    </test>
</suite>
